#title {
    font-size: larger;
    align-items: center;
    display: flex;
}

#grid {
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(30,30px);
    
}

#grid div {
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#border {
    border: #490808 solid 5px;
    border-radius: 25px;
}